<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.say.mapper.BoardMapper">

  <!-- 게시판 등록 -->
    <insert id="enroll">
        
        insert into sr_board(title, content, writer) values (#{title}, #{content}, #{writer})
        
    </insert>
 
 <!--게시판 목록  -->
 
 <select id="getList" resultType="com.say.model.BoardVO">
 
  select * from sr_board
  
 </select>
 
  <select id="getLatestCoordinate" resultType="com.say.model.BoardVO">
    
      SELECT X,Y FROM SAY_GIS
 
  
    </select>
 
 
 
 

</mapper>